.nav_list{
    width: 1296px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
 
}
.cardlist{
    width: 1296px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
    margin-top: 20px;
}


.fourth_cards{
    width: 200px;
    height: 230px;
    margin: 1rem;
    
}
.cardimage1{
    border-radius: 20px;
}
.cardimage2{
    border-radius: 20px;
}
.cardimage3{
    border-radius: 20px;
    height: 136px;
}
.cardimage4{
    border-radius: 20px;
}